
  <h1 class="title">What type of vegetable are you?</h1>
  <div class="container">
  {{#each vegetables}}
    <div class="container__box">
    <img class="container--image" src="{{image}}" alt="{{name}}">
    <h1>{{name}}</h1>
    </div>
  {{/each}}
    </div>
  <div class="ashe">
    <h2 class="container__vegTitle">What type of vegetable are you? Im a cabbage!</h2>
    <img class="container--image-ashe ashe__image"src="../images/ashe.png" alt="">
  </div>>
    

