<form class="form" action="/quiz/{{id}}" method="get">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <label for="question" class="form-item">
    {{question}}
    <input type="text" name="question" value="">
  </label>

  
  <input type="submit" name="" value="Submit">
</form>

